.hover-card-content {
    /* Define o layout interno do card flutuante */
    position: absolute;
    top: 95%; /* Ajusta para se encaixar melhor com o poster */
    left: -2.5%; /* Compensa o aumento de scale(1.1) do wrapper */
    z-index: 50; 
    
    background-color: #1c2a3a; 
    border-radius: 0 0 8px 8px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    padding: 15px;
    width: 105%; 
    
    /* Inicialmente invisível e pequeno, aparece no hover do MovieCard */
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hover-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
}

.hover-details {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.rating-tag {
    background-color: #FFC107; 
    color: #0A141D; 
    font-size: 0.7rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
}

.detail-text, .detail-separator {
    font-size: 0.9rem;
    color: #a0a0a0; 
}

/* Botão Saiba Mais */
.saiba-mais-button {
    background-color: #DE467C;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s;
}

.saiba-mais-button:hover {
    opacity: 0.9;
}